<section class="benefits">
  <div class="benefits-container container">
    <h2 class="benefits-title poppins-bold">Why Choose Product?</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <div class="benefits-wrapper benefits-first">
            <svg class="benefits-icon" width="12" height="18">
              <use href="../img/icons/icons.svg#icon-cursor"></use>
            </svg>
          </div>
        <div class="benefits-descr-wrapper">
          <h3 class="benefits-item-title poppins-bold">Special Business</h3>
          <p class="benefits-item-descr poppins-regular">Product helps you see how many more days you need to work to reach your
            financial goal for the month and year</p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-wrapper benefits-second">
            <svg class="benefits-icon" width="18" height="18">
              <use href="../img/icons/icons.svg#icon-surveys"></use>
            </svg>
          </div>
        <div class="benefits-descr-wrapper">
          <h3 class="benefits-item-title poppins-bold">Instant Result</h3>
          <p class="benefits-item-descr poppins-regular">Product helps you see how many more days you need to work to reach your
            financial goal for the month and year</p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-wrapper benefits-third">
            <svg class="benefits-icon" width="16" height="18">
              <use href="../img/icons/icons.svg#icon-heart"></use>
            </svg>
          </div>
        <div class="benefits-descr-wrapper">
          <h3 class="benefits-item-title poppins-bold">Fastest way to organize</h3>
          <p class="benefits-item-descr poppins-regular">Product helps you see how many more days you need to work to reach your
            financial goal for the month and year</p>
        </div>
      </li>
    </ul>
  </div>
</section>