<section class="marketing">
  <div class="marketing-container container">
    <h2 class="marketing-title poppins-bold">How Product Work?</h2>
    <ul class="marketing-list">
      <li class="marketing-list-item">
        <div class="marketing-image-wrapper">
          <img src="../../img/marketing/mac1.svg" alt="mac-pro" class="marketing-item-image" width="500">
        </div>
        <div class="marketing-descr-wrap">
          <p class="marketing-item-subtitle poppins-medium">Step 1</p>
          <h2 class="marketing-item-title poppins-semibold">Apply for a product</h2>
          <p class="marketing-item-descr poppins-regular">Completing our easy step-by-step application form gives you access to multiple
            business with multiple products. We analyse your business through our proprietary credit analysis technology
          </p>
        </div>
      </li>
      <li class="marketing-list-item">
        <div class="marketing-image-wrapper">
          <img src="../../img/marketing/mac2.svg" alt="mac-pro" class="marketing-item-image" width="500">
        </div>
        <div class="marketing-descr-wrap">
          <p class="marketing-item-subtitle poppins-medium">Step 2</p>
          <h2 class="marketing-item-title poppins-semibold">Pay fully refundable</h2>
          <p class="marketing-item-descr poppins-regular">Completing our easy step-by-step application form gives you access to multiple
            business with multiple products. We analyse your business through our proprietary credit analysis technology
          </p>
        </div>
      </li>
      <li class="marketing-list-item">
        <div class="marketing-image-wrapper">
          <img src="../../img/marketing/mac3.svg" alt="mac-pro" class="marketing-item-image" width="500">
        </div>
        <div class="marketing-descr-wrap">
          <p class="marketing-item-subtitle poppins-medium">Step 3</p>
          <h2 class="marketing-item-title poppins-semibold">Completion</h2>
          <p class="marketing-item-descr poppins-regular">Completing our easy step-by-step application form gives you access to multiple
            business with multiple products. We analyse your business through our proprietary credit analysis technology
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>