<div class="promo">
  <div class="promo-container container">
    <div class="preview-wrap">
      <h2 class="preview-title poppins-bold">Join thousand of other who have already received offers</h2>
      <ul class="preview-list">
        <li class="preview-item">
          <div class="preview-image-wrapper">
            <img src="../../img/icons/chart.svg" alt="icon" class="preview-image">
          </div>
          <h2 class="preview-item-title poppins-medium">Business</h2>
          <ul class="preview-item-sublist poppins-regular">
            <li class="preview-sublist-item"><a href="/" class="preview-sublist-link">Cash Flow</a></li>
            <li class="preview-sublist-item"><a href="/" class="preview-sublist-link">Asset Backed</a></li>
            <li class="preview-sublist-item"><a href="/" class="preview-sublist-link">Receivables Finance</a></li>
          </ul>
          <p class="preview-item-text poppins-medium">Find the best business product</p>
        </li>
        <li class="preview-item">
          <div class="preview-image-wrapper">
            <img src="../../img/icons/activity.svg" alt="icon" class="preview-image">
          </div>
          <h2 class="preview-item-title poppins-medium">Enterprise</h2>
          <ul class="preview-item-sublist poppins-regular">
            <li class="preview-sublist-item"><a href="/" class="preview-sublist-link">Site Acquisition</a></li>
            <li class="preview-sublist-item"><a href="/" class="preview-sublist-link">Bridge</a></li>
            <li class="preview-sublist-item"><a href="/" class="preview-sublist-link">Development Financing</a></li>
          </ul>
          <p class="preview-item-text poppins-medium">Find the best business product</p>
        </li>
      </ul>
    </div>
    <div class="promo-wrap">
      <div class="promo-wrapper">
        <h2 class="promo-title poppins-semibold">
          Join 100 Compannies who boost their business with Product
        </h2>
        <button type="button" class="promo-btn poppins-semibold">Get this</button>
      </div>
      <div class="promo-image">
        <img src="../img/promo/screen.svg" width="351" height="331" alt="graphs" />
      </div>
    </div>
  </div>
</div>