<section class="clients">
    <div class="clients-container container">
        <h2 class="clients-title poppins-bold">What Clients Say</h2>
        <p class="clients-text poppins-medium"> <span>Problems trying to resolve the conflict between</span> the two
            major
            realms of Classical physics: Newtonian mechanics
        </p>
        <ul class="clients-list">
            <li class="clients-list-item">
                <div class="clients-rate">
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star-alt"></use>
                    </svg>
                </div>
                <p class="clients-descr">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="clients-author">
                    <picture>
                        <source srcset="
                                          ../img/clients/img@1x/avatar-1@1x.png 1x,
                                          ../img/clients/img@2x/avatar-1@2x.png 2x
                                        " media="(min-width: 1024px)" type="image/png" />
                        <source srcset="
                                          ../img/clients/img@1x/avatar-1@1x.png 1x,
                                          ../img/clients/img@2x/avatar-1@2x.png 2x
                                        " media="(min-width: 411px)" type="image/png" />
                        <source srcset="
                                          ../img/clients/img@1x/avatar-1@1x.png 1x,
                                          ../img/clients/img@2x/avatar-1@2x.png 2x
                                        " media="(max-width: 410px)" type="image/png" />
                        <img src="../img/clients/img@1x/avatar-1@1x.png" width="50" height="50" alt="avatar-1" />
                    </picture>
                    <div class="clients-author-char">
                        <span class="clients-author-name poppins-semibold">Rihanna Smith</span>
                        <span class="clients-author-spec poppins-medium">Designer</span>
                    </div>
                </div>
            </li>
            <li class="clients-list-item">
                <div class="clients-rate">
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star-alt"></use>
                    </svg>
                </div>
                <p class="clients-descr">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="clients-author">
                    <picture>
                        <source srcset="
                                          ../img/clients/img@1x/avatar-2@1x.png 1x,
                                          ../img/clients/img@2x/avatar-2@2x.png 2x
                                        " media="(min-width: 1024px)" type="image/png" />
                        <source srcset="
                                          ../img/clients/img@1x/avatar-2@1x.png 1x,
                                          ../img/clients/img@2x/avatar-2@2x.png 2x
                                        " media="(min-width: 411px)" type="image/png" />
                        <source srcset="
                                          ../img/clients/img@1x/avatar-2@1x.png 1x,
                                          ../img/clients/img@2x/avatar-2@2x.png 2x
                                        " media="(max-width: 410px)" type="image/png" />
                        <img src="../img/clients/img@1x/avatar-2@1x.png" width="50" height="50" alt="avatar-2" />
                    </picture>
                    <div class="clients-author-char">
                        <span class="clients-author-name poppins-semibold">Jane Franklin</span>
                        <span class="clients-author-spec poppins-medium">Manager</span>
                    </div>
                </div>
            </li>
            <li class="clients-list-item">
                <div class="clients-rate">
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg width="18" height="18">
                        <use href="../img/icons/icons.svg#icon-star-alt"></use>
                    </svg>
                </div>
                <p class="clients-descr">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="clients-author">
                    <picture>
                        <source srcset="
                                          ../img/clients/img@1x/avatar-3@1x.png 1x,
                                          ../img/clients/img@2x/avatar-3@2x.png 2x
                                        " media="(min-width: 1024px)" type="image/png" />
                        <source srcset="
                                          ../img/clients/img@1x/avatar-3@1x.png 1x,
                                          ../img/clients/img@2x/avatar-3@2x.png 2x
                                        " media="(min-width: 411px)" type="image/png" />
                        <source srcset="
                                          ../img/clients/img@1x/avatar-3@1x.png 1x,
                                          ../img/clients/img@2x/avatar-3@2x.png 2x
                                        " media="(max-width: 410px)" type="image/png" />
                        <img src="../img/clients/img@1x/avatar-3@1x.png" width="50" height="50" alt="avatar-3" />
                    </picture>
                    <div class="clients-author-char">
                        <span class="clients-author-name poppins-semibold">Leo Dicaprio</span>
                        <span class="clients-author-spec poppins-medium">Developer</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>