<section class="features container">
  <h2 class="title poppins-bold">Product  was Built Specifically <br/> for You</h2>
  <div class="wrap">
    <ul class="list">
      <li class="list-item">
        <div class="wrapper first">
          <svg class="icon" width="12" height="18">
            <use href="../img/icons.svg#icon-cursor"></use>
          </svg>
        </div>
        <div class="descr">
          <h3 class="subtitle poppins-semibold">First click tests</h3>
          <p class="text">While most people enjoy casino gambling</p>
        </div>
      </li>
      <li class="list-item">
        <div class="wrapper second">
          <svg class="icon" width="18" height="18">
            <use href="../img/icons.svg#icon-surveys"></use>
          </svg>
        </div>
        <div class="descr">
          <h3 class="subtitle poppins-semibold">Design surveys</h3>
          <p class="text">Sports betting, lottery and bingo playing for the fun</p>
        </div>
      </li>
      <li class="list-item">
        <div class="wrapper third">
          <svg class="icon" width="16" height="18">
            <use href="../img/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <div class="descr">
          <h3 class="subtitle poppins-semibold">Preference tests</h3>
          <p class="text">The Myspace page defines the individual</p>
        </div>
      </li>
      <li class="list-item">
        <div class="wrapper fourth">
          <svg class="icon" width="14" height="18">
            <use href="../img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <div class="descr">
          <h3 class="subtitle poppins-semibold">Five second tests</h3>
          <p class="text">Personal choices and the overall personality of the person</p>
        </div>
      </li>
    </ul>
    <button type="submit" class="poppins-bold">Sign Up Now</button>
  </div>
</section>
