<section class="feedback">  
    <div class="container">
        <h2 class="title">Quick & Easy Process</h2>
        <p class="text">Do you require some help for your project: Conception workshop,
        prototyping, marketing strategy, landing page, Ux/UI?</p>
        <list class="list">
            <li class="list-item">
                <img src="../img/feedback/avatar-1.png" alt="avatar" class="image">
                <p class="text">I can take care of your pitch</p>
            </li>
            <li class="list-item">
                <img src="../img/feedback/avatar-2.png" alt="avatar" class="image">
                <p class="text">I can prototype your app</p>
            </li>
            <li class="list-item">
                <img src="../img/feedback/avatar-3.png" alt="avatar" class="image">
                <p class="text">I can take care of your pitch</p>
            </li>
            <li class="list-item">
                <img src="../img/feedback/avatar-4.png" alt="avatar" class="image">
                <p class="text">I can help marketing strategy</p>
            </li>
        </list>
        <button type="button"><a href="/">Contact our expert</a></button>
    </div>
</section>