<footer class="footer">
  <div class="footer-container container">
    <div class="footer-wrap">
      <div class="footer-logo-wrapper">
        <a href="./index.html" class="footer-logo" title="Product">
          <svg width="40" height="36" aria-label="Product">
            <use href="../img/icons/icons.svg#icon-logo"></use>
          </svg>
          <span class="footer-logo-text poppins-bold">Product</span>
        </a>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a href="/" rel="noopener noreferrer" class="footer-soc-link">
              <svg width="24" height="24" class="footer-soc-icon">
                <use href="../img/icons/icons.svg#icon-instagram"></use>
              </svg></a>
          </li>
          <li class="footer-soc-item">
            <a href="/" rel="noopener noreferrer" class="footer-soc-link">
              <svg width="24" height="24" class="footer-soc-icon">
                <use href="../img/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="/" rel="noopener noreferrer" class="footer-soc-link">
              <svg width="24" height="24" class="footer-soc-icon">
                <use href="../img/icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <p class="footer-text poppins-medium">Resourses</p>
        <ul class="footer-list">
          <li class="footer-list-item"><a class="footer-item-link" href="/">About Us</a></li>
          <li class="footer-list-item"><a class="footer-item-link" href="/">Blog</a></li>
          <li class="footer-list-item"><a class="footer-item-link" href="/">Contact</a></li>
          <li class="footer-list-item"><a class="footer-item-link" href="/">FAQ</a></li>
        </ul>
      </div>
      <div>
        <p class="footer-text poppins-medium">Legal Stuff</p>
        <ul class="footer-list">
          <li class="footer-list-item"><a class="footer-item-link" href="/">Disclaimer</a></li>
          <li class="footer-list-item"><a class="footer-item-link" href="/">Financing</a></li>
          <li class="footer-list-item"><a class="footer-item-link" href="/">Privacy Policy</a></li>
          <li class="footer-list-item"><a class="footer-item-link" href="/">Terms of Service</a></li>
        </ul>
      </div>
      <div class="footer-wrapper">
        <p class="footer-text montserrat-semibold">Knowing you're always on <br /> the best energy deal</p>
        <label class="footer-label">
          <input type="tel" dirname="tel" name="phone" value="+38"
            pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="13" maxlength="13" inputmode="tel"
            placeholder="Enter your phone number" required />
          <svg class="footer-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-mobile"></use>
          </svg>
        </label>
        <button type="submit" class="footer-btn poppins-bold" data-modal-toggle="signup">Sign up now</button>
      </div>
    </div>
    <p class="footer-copyright montserrat-medium">Yuriy Volkov &#169; All right reserved</p>
  </div>
</footer>
