<footer class="footer">
  <div class="container">
    <div class="wrap">
      <div>
        <a href="./index.html" class="logo" title="Product">
          <svg width="40" height="36" aria-label="Product">
            <use href="../img/icons/icons.svg#icon-logo"></use>
          </svg>
          <span class="logo-text poppins-bold">Product</span>
        </a>
        <ul class="soc-list">
          <li class="soc-item">
            <a href="/" rel="noopener noreferrer" class="soc-link">
              <svg width="24" height="24" class="soc-icon">
                <use href="../img/icons/icons.svg#icon-instagram"></use>
              </svg></a>
          </li>
          <li class="soc-item">
            <a href="/" rel="noopener noreferrer" class="soc-link">
              <svg width="24" height="24" class="soc-icon">
                <use href="../img/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="soc-item">
            <a href="/" rel="noopener noreferrer" class="soc-link">
              <svg width="24" height="24" class="soc-icon">
                <use href="../img/icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <p class="text poppins-medium">Resourses</p>
        <ul class="list">
          <li class="list-item"><a href="/">About Us</a></li>
          <li class="list-item"><a href="/">Blog</a></li>
          <li class="list-item"><a href="/">Contact</a></li>
          <li class="list-item"><a href="/">FAQ</a></li>
        </ul>
      </div>
      <div>
        <p class="text poppins-medium">Legal Stuff</p>
        <ul class="list">
          <li class="list-item"><a href="/">Disclaimer</a></li>
          <li class="list-item"><a href="/">Financing</a></li>
          <li class="list-item"><a href="/">Privacy Policy</a></li>
          <li class="list-item"><a href="/">Terms of Service</a></li>
        </ul>
      </div>
      <div class="wrapper">
        <p class="text montserrat-semibold">Knowing you're always on <br /> the best energy deal</p>
        <label><input type="tel" name="phone" placeholder="Enter your phone number"/></label>
        <button type="submit" class="poppins-bold">Sign up now</button>
      </div>
    </div>
    <p class="copyright montserrat-medium">Yuriy Volkov &#169; All Right Reserved</p>
  </div>
</footer>
