<header class="header container ">
  <a href="./index.html" class="logo" title="Product">
    <svg class="logo-img" aria-label="Product">
      <use href="../img/icons.svg#icon-logo"></use>
    </svg>
    <span class="logo-text">Product</span>
  </a>
  <div class="wrap">
    <nav class="nav poppins-regular">
      <ul class="nav-list">
        <li class="list-item list">
          <a
            href="../index.html"
            class="nav-link link current"
            target="_blank"
            title="Product"
            >Product</a
          >
        </li>
        <li class="list-item list">
          <a
            href="../customers.html"
            class="nav-link link"
            target="_blank"
            title="Customers"
            >Customers</a
          >
        </li>
        <li class="list-item list">
          <a
            href="../pricing.html"
            class="nav-link link"
            target="_blank"
            title="Pricing"
            >Pricing</a
          >
        </li>
        <li class="list-item list">
          <a
            href="../index.html"
            class="nav-link link"
            target="_blank"
            title="Resources"
            >Resources</a
          >
        </li>
      </ul>
    </nav>
    <button type="submit" class="first poppins-semibold">Sign In</button>
    <button type="submit" class="second poppins-semibold">Sign Up</button>
    <button type="button">
      <svg
        class="icon"
        width="32"
        height="32"
        aria-label="Theme Switcher"
      >
        <use href="../img/icons.svg#icon-switcher"></use>
      </svg>
    </button>
  </div>
</header>

