<div class="hero">
  <div class="container">
    <div class="wrap">
      <div class="wrapper">
        <h1 class="title poppins-bold">Work at the speed <br /> of thought</h1>
        <p class="text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to
          imagine your next user experience.</p>
      </div>
      <div class="btn-wrapper">
        <button type="submit" class="btn poppins-bold" data-modal-signup>Get started
        </button>
        <button type="button" class="btn poppins-semibold">
          <svg class="icon" width="20" height="18">
            <use href="../img/icons/icons.svg#icon-triangle"></use>
          </svg>
          <span class="btn-text">Watch the Video</span>
        </button>
      </div>
    </div>
    <img src="../img/hero/hero-img.svg" width="610" height="555" alt="people working on a project" />
  </div>
</div>