<div class="mobile-menu js-menu-container">
  <div class="wrapper">
    <button type="button" class="btn-menu">
      <svg width="32" height="32">
        <use href="../img/icons/icons.svg#icon-switcher"></use>
      </svg>
    </button>
    <button type="button" class="btn-menu mob-close-btn js-close-menu">
      <svg width="32" height="32">
        <use href="../img/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
  <div class="wrap">
    <ul class="list poppins-semibold">
      <li>
        <a href="/" target="_blank" rel="nofollow noopener noreferrer">Product</a>
      </li>
      <li>
        <a href="../pricing.html" target="_blank" rel="nofollow noopener noreferrer">Pricing</a>
      </li>
      <li>
        <a href="../customers.html" target="_blank" rel="nofollow noopener noreferrer">Customers</a>
      </li>
      <li>
        <a href="/" target="_blank" rel="nofollow noopener noreferrer">Resources</a>
      </li>
    </ul>
    <div class="btn-wrapper">
      <button type="submit" class="btn-mobile poppins-bold" data-modal-signin data-modal-open-1>Sign in</button>
      <button type="submit" class="btn-mobile poppins-bold" data-modal-signup data-modal-open-2>Sign up</button>
    </div>
  </div>
</div>