<div class="backdrop container modal is-hidden" data-modal="signin">
  <div class="modal-box">
    <button type="button" class="modal-close-btn" data-modal-toggle="signin">
      <svg class="close-btn-icon" width="28" height="28">
        <use href="../img/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal-title-text montserrat-bold">
      Sign In
    </p>
    <form class="modal-form" action="#" method="post">
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="email">Email</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="email" name="email" id="email" autocomplete="false"
            placeholder="Enter your email" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="password">Password</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="password" name="password" autocomplete="false"
            placeholder="Enter your password" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-key"></use>
          </svg>
        </div>
      </div>
      <button class="modal-form-btn montserrat-bold" type="submit">Sign In</button>
    </form>
  </div>
</div>