<div class="backdrop is-hidden container" data-modal="signup">
  <div class="modal-box">
    <button type="button" class="modal-close-btn" data-modal-close="signup">
      <svg class="close-btn-icon" width="28" height="28">
        <use href="../img/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal-title-text montserrat-bold">
      Sign up
    </p>
    <form class="modal-form" action="#" method="get">
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="signup-name">Full Name</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="text" name="name" id="signup-name"
            pattern="[A-Za-z\s]{2,50}" minlength="2" maxlength="50" placeholder="Enter your full name" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-user"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="signup-tel">Phone</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="tel" name="phone" id="signup-tel" value="+380"
            pattern="^\+380\d+(?:[ ]\d+)*$" minlength="12" maxlength="16" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-mobile"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="signup-email">Email</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="email" name="email" id="signup-email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Enter your email" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-mail"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="signup-password">Password</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="password" name="password" id="signup-password"
            pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$" minlength="8" maxlength="18"
            placeholder="Enter your password" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-key"></use>
          </svg>
        </div>
      </div>
      <button class="modal-form-btn montserrat-bold" type="submit">Sign up</button>
    </form>
  </div>
</div>
