<div class="backdrop container modal is-hidden" data-modal="signup">
  <div class="modal-box">
    <button type="button" class="modal-close-btn" data-modal-toggle="signup">
      <svg class="close-btn-icon" width="28" height="28">
        <use href="../img/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <p class="modal-title-text montserrat-bold">
      Sign Up
    </p>
    <form class="modal-form" action="#" method="post">
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="tel">Phone</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="tel" name="phone" id="tel" value="+380"
            pattern="^\+380\d+(?:[ ]\d+)*$" minlength="12" maxlength="16" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-mobile"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="mail">Email</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="email" name="user-email" id="mail"
            pattern="^((?!\.)[\w\-_.]*[^.])(@\w+)(\.\w+(\.\w+)?[^.\W])$" placeholder="Enter your email" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-form-label montserrat-medium" for="password">Password</label>
        <div class="modal-form-item">
          <input class="modal-form-input montserrat-regular" type="password" name="user-password" autocomplete
            pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$" minlength="8" maxlength="18"
            placeholder="Enter your password" required />
          <svg class="modal-form-icon" width="28" height="28">
            <use href="../img/icons/icons.svg#icon-key"></use>
          </svg>
        </div>
      </div>
      <div class="modal-form-field">
        <input class="modal-form-input visually-hidden" type="checkbox" name="user-privacy" id="user-privacy"
          value="true" required />
        <label class="modal-form-label montserrat-medium" for="user-privacy">
          <span class="modal-form-checkbox">
            <svg class="modal-form-icon checkbox-icon" width="20" height="20">
              <use href="../img/icons/icons.svg#icon-checkmark"></use>
            </svg>
          </span>
          I accept the terms of the Privacy Policy
        </label>
      </div>
      <button class="modal-form-btn montserrat-bold" type="submit">Sign Up</button>
    </form>
  </div>
</div>
