<section class="news-feed">
  <div class="container">
    <h2 class="title poppins-bold">Contents Strategies</h2>
    <p class="text poppins-semibold">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="list">
      <li class="list-item">
        <a href="/" class="link">
          <picture class="picture">
            <source srcset="
                ../img/news-feed/img@1x/image-1@1x.jpg 1x,
                ../img/news-feed/img@2x/image-1@2x.jpg 2x
              " media="(min-width: 1024px)" type="image/png" />
            <source srcset="
                ../img/news-feed/img@1x/image-1@1x.jpg 1x,
                ../img/news-feed/img@2x/image-1@2x.jpg 2x
              " media="(min-width: 411px)" type="image/png" />
            <source srcset="
                ../img/news-feed/img@1x/image-1@1x.jpg 1x,
                ../img/news-feed/img@2x/image-1@2x.jpg 2x
              " media="(max-width: 410px)" type="image/png" />
            <img src="../img/news-feed/img@1x/image-1@1x.jpg" width="350" height="185" alt="work-office" />
          </picture>
          <div class="wrapper">
            <span class="author">By <span class="poppins-bold">Wahid Ari</span> | 03 March 2019</span>
            <h3 class="subtitle poppins-bold">
              Increasing Prosperity With Positive Thinking
            </h3>
          </div>
        </a>
      </li>
      <li class="list-item">
        <a href="/" class="link">
          <picture class="picture">
            <source srcset="
                ../img/news-feed/img@1x/image-2@1x.jpg 1x,
                ../img/news-feed/img@2x/image-2@2x.jpg 2x
              " media="(min-width: 1024px)" type="image/png" />
            <source srcset="
                ../img/news-feed/img@1x/image-2@1x.jpg 1x,
                ../img/news-feed/img@2x/image-2@2x.jpg 2x
              " media="(min-width: 411px)" type="image/png" />
            <source srcset="
                ../img/news-feed/img@1x/image-2@1x.jpg 1x,
                ../img/news-feed/img@2x/image-2@2x.jpg 2x
              " media="(max-width: 410px)" type="image/png" />
            <img src="../img/news-feed/img@1x/image-2@1x.jpg" width="350" height="185" alt="people make bussiness" />
          </picture>
          <div class="wrapper">
            <span class="author">By <span class="poppins-bold">Wahid Ari</span> | 25 May2019</span>
            <h3 class="subtitle poppins-bold">Motivation Is The First Step To Success</h3>
          </div>
        </a>
      </li>
      <li class="list-item">
        <a href="/" class="link">
          <picture class="picture">
            <source srcset="
                ../img/news-feed/img@1x/image-3@1x.jpg 1x,
                ../img/news-feed/img@2x/image-3@2x.jpg 2x
              " media="(min-width: 1024px)" type="image/png" />
            <source srcset="
                ../img/news-feed/img@1x/image-3@1x.jpg 1x,
                ../img/news-feed/img@2x/image-3@2x.jpg 2x
              " media="(min-width: 411px)" type="image/png" />
            <source srcset="
                ../img/news-feed/img@1x/image-3@1x.jpg 1x,
                ../img/news-feed/img@2x/image-3@2x.jpg 2x
              " media="(max-width: 410px)" type="image/png" />
            <img src="../img/news-feed/img@1x/image-3@1x.jpg" width="350" height="185" alt="sky buildigs" />
          </picture>
          <div class="wrapper">
            <span class="author">By <span class="poppins-bold">Wahid Ari</span> | 16 June 2019</span>
            <h3 class="subtitle poppins-bold">
              Success Steps For Your Personal Or Business
            </h3>
          </div>
        </a>
      </li>
    </ul>
    <div class="pagination"></div>
  </div>
</section>