<section class="pricing">
  <div class="container">
    <h2 class="title poppins-bold">Price Table</h2>
    <p class="text poppins-medium">We offer competitive price</p>
    <div class="wrap montserrat-regular">
      <div class="card">
        <div class="card-title">
          <h3 class="subtitle montserrat-bold">Free</h3>
          <p class="descr">Brief price description</p>
        </div>
        <div class="card-price">
          <span class="num montserrat-bold">0</span>
          <div class="price-wrap">
            <span class="symbol montserrat-bold">$</span
            ><span class="price-descr">Per / month</span>
          </div>
        </div>
        <div class="card-options montserrat-medium">
          <span>Only 2 Operators</span>
          <span>Notifications</span>
          <span>Landing Pages</span>
        </div>
        <button type="button" class="montserrat-semibold">
          <a href="/">Order Now</a>
        </button>
      </div>
      <div class="card">
        <div class="card-title">
          <h3 class="subtitle montserrat-bold">Standart</h3>
          <p class="descr">Brief price description</p>
        </div>
        <div class="card-price">
          <span class="num montserrat-bold">5</span>
          <div class="price-wrap">
            <span class="symbol montserrat-bold">$</span
            ><span class="price-descr">Per / month</span>
          </div>
        </div>
        <div class="card-options montserrat-medium">
          <span>5+ Operators</span>
          <span>Notifications</span>
          <span>Landing Pages</span>
        </div>
        <button type="button" class="middle montserrat-semibold">
          <a href="/">Order Now</a>
        </button>
      </div>
      <div class="card">
        <div class="card-title">
          <h3 class="subtitle montserrat-bold">Premium</h3>
          <p class="descr">Brief price description</p>
        </div>
        <div class="card-price">
          <span class="num montserrat-bold">10</span>
          <div class="price-wrap">
            <span class="symbol montserrat-bold">$</span
            ><span class="price-descr">Per / month</span>
          </div>
        </div>
        <div class="card-options montserrat-medium">
          <span>10+ Operators</span>
          <span>Notifications</span>
          <span>Landing Pages</span>
        </div>
        <button type="button" class="montserrat-semibold">
          <a href="/">Order Now</a>
        </button>
      </div>
    </div>
  </div>
</section>
