<section class="stuff">
  <div class="container">
    <ul class="list">
      <li class="list-item">
        <div class="wrap">
          <div class="wrapper">
            <span class="overtitle poppins-semibold">Effortless Validation for</span>
            <h2 class="title poppins-bold">Management</h2>
            <p class="text">
              The Myspace page defines the individual, his or her characteristics,
              traits, personal choices and the overall personality of the person
            </p>
          </div>
          <div class="wrapper">
            <h3 class="subtitle poppins-semibold">Accessory makers</h3>
            <p class="text">
              While most people enjoy casino gambling, sports betting, lottery and
              bingo playing for the fun
            </p>
          </div>
          <div class="wrapper">
            <h3 class="subtitle poppins-semibold">Alterationists</h3>
            <p class="text3">
              If you are looking for a new way to promote your business that won’t
              cost you more money
            </p>
          </div>
        </div>
        <img src="../img/stuff/management-img.svg" alt="management" />
      </li>
      <li class="list-item">
        <div class="wrap">
          <div class="wrapper">
            <span class="overtitle poppins-semibold">Easier decision making for</span>
            <h2 class="title poppins-bold">Customer Support</h2>
            <p class="text">
              The Myspace page defines the individual, his or her characteristics,
              traits, personal choices and the overall personality of the person
            </p>
          </div>
          <ul class="sublist">
            <li class="sublist-item">
              <svg class="icon" width="35" height="35">
                <use href="../img/svg/icons.svg#icon-tick-yellow"></use>
              </svg>
              <p class="text">
                Never worry about overpaying for your energy again
              </p>
            </li>
            <li class="sublist-item">
              <svg class="icon" width="46" height="46">
                <use href="../img/svg/icons.svg#icon-tick-red"></use>
              </svg>
              <p class="text">
                We will only switch you to energy companies that we trust and will
                treat you right
              </p>
            </li>
            <li class="sublist-item">
              <svg class="icon" width="35" height="35">
                <use href="../img/svg/icons.svg#icon-tick-blue"></use>
              </svg>
              <p class="text">
                We track the markets daily and know where the savings are
              </p>
            </li>
          </ul>
        </div>
        <img src="../img/stuff/collaboration-img.svg" alt="management" />
      </li>
      <li class="list-item">
        <div class="wrap">
          <div class="wrapper">
            <span class="overtitle poppins-semibold">Optimisation for</span>
            <h2 class="title poppins-bold">Collaborative</h2>
            <p class="text">
              Few would argue that, despite the advancements of feminism over the
              past three decades, women still face a double standard when it comes
              to their behavior
            </p>
          </div>
          <div class="wrapper">
            <h3 class="subtitle poppins-semibold">Accessory makers</h3>
            <p class="text">
              While most people enjoy casino gambling, sports betting, lottery and
              bingo playing for the fun
            </p>
          </div>
          <div class="wrapper">
            <h3 class="subtitle poppins-semibold">Alterationists</h3>
            <p class="text">
              If you are looking for a new way to promote your business that won’t
              cost you more money
            </p>
          </div>
        </div>
        <img src="../img/stuff/support-img.svg" alt="management" />
      </li>res
    </ul>
  </div>
</section>
