<section class="stuff">
  <div class="stuff-container container">
    <ul class="stuff-list">
      <li class="stuff-list-item">
        <div class="stuff-wrap">
          <div class="stuff-wrapper">
            <span class="stuff-overtitle poppins-semibold">Effortless Validation for</span>
            <h2 class="stuff-title poppins-bold">Management</h2>
            <p class="stuff-text">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person
            </p>
          </div>
          <div class="stuff-wrapper">
            <h3 class="stuff-subtitle poppins-semibold">Accessory makers</h3>
            <p class="stuff-text">
              While most people enjoy casino gambling, sports betting, lottery
              and bingo playing for the fun
            </p>
          </div>
          <div class="stuff-wrapper">
            <h3 class="stuff-subtitle poppins-semibold">Alterationists</h3>
            <p class="stuff-text">
              If you are looking for a new way to promote your business that
              won’t cost you more money
            </p>
          </div>
        </div>
        <img src="../img/stuff/management-img.svg" width="540" height="500" alt="management" />
      </li>
      <li class="stuff-list-item">
        <div class="stuff-wrap">
          <div class="stuff-wrapper">
            <span class="stuff-overtitle poppins-semibold">Easier decision making for</span>
            <h2 class="stuff-title poppins-bold">Customer Support</h2>
            <p class="stuff-text extra">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person
            </p>
          </div>
          <ul class="stuff-sublist">
            <li class="stuff-sublist-item">
              <svg class="stuff-icon" width="35" height="35">
                <use href="../img/icons/icons.svg#icon-tick-yellow"></use>
              </svg>
              <p class="stuff-sublist-text">
                Never worry about overpaying for your energy again
              </p>
            </li>
            <li class="stuff-sublist-item">
              <svg class="stuff-icon" width="35" height="35">
                <use href="../img/icons/icons.svg#icon-tick-red"></use>
              </svg>
              <p class="stuff-sublist-text">
                We will only switch you to energy companies that we trust and
                will treat you right
              </p>
            </li>
            <li class="stuff-sublist-item">
              <svg class="stuff-icon" width="35" height="35">
                <use href="../img/icons/icons.svg#icon-tick-blue"></use>
              </svg>
              <p class="stuff-sublist-text">
                We track the markets daily and know where the savings are
              </p>
            </li>
          </ul>
        </div>
        <img src="../img/stuff/collaboration-img.svg" width="540" height="500" alt="management" />
      </li>
      <li class="stuff-list-item">
        <div class="stuff-wrap">
          <div class="stuff-wrapper">
            <span class="stuff-overtitle poppins-semibold">Optimisation for</span>
            <h2 class="stuff-title poppins-bold">Collaborative</h2>
            <p class="stuff-text">
              Few would argue that, despite the advancements of feminism over
              the past three decades, women still face a double standard when it
              comes to their behavior
            </p>
          </div>
          <div class="stuff-wrapper">
            <h3 class="stuff-subtitle poppins-semibold">Accessory makers</h3>
            <p class="stuff-text">
              While most people enjoy casino gambling, sports betting, lottery
              and bingo playing for the fun
            </p>
          </div>
          <div class="stuff-wrapper">
            <h3 class="stuff-subtitle poppins-semibold">Alterationists</h3>
            <p class="stuff-text">
              If you are looking for a new way to promote your business that
              won’t cost you more money
            </p>
          </div>
        </div>
        <img src="../img/stuff/support-img.svg" width="540" height="500" alt="management" />
      </li>
    </ul>
  </div>
</section>