:root {
  --main: #fff;
  --extra: #02897A;
  --font: #22343D;
  --icon-01: #4D8DFF;
  --icon-02: #740A76;
  --icon-03: #F03E3D;
}

body {
  color: var(--font);
  background-color: var(--main);
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 25px 0 100px;
}

/* Poppins Font */

.poppins-regular,
.poppins-medium,
.poppins-semibold,
.poppins-bold {
  font-family: "Poppins", serif;
  font-style: normal;
}

/* Montserrat Font */

.montserrat-regular,
.montserrat-medium,
.montserrat-semibold,
.montserrat-bold {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Common font styles */

.poppins-regular,
.montserrat-regular {
  font-weight: 400;
}
.poppins-medium,
.montserrat-medium {
  font-weight: 500;
}

.poppins-semibold,
.montserrat-semibold {
  font-weight: 600;
}

.poppins-bold,
.montserrat-bold {
  font-weight: 700;
}
