:root {
<<<<<<< HEAD
  --main: #fff;
  --extra: #02897A;
  --font: #22343D;
  --logo: #173A56;
  --icon-01: #EFEFEF;
  --icon-02: #F2F6FF;
  --icon-03: #EDFFFC;
  --icon-04: #4D8DFF;
  --icon-05: #740A76;
  --icon-06: #F03E3D;
  --icon-07: #F3CD03;
  --border: #BCD0E5
}

body {
  color: var(--font);
  background-color: var(--main);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 25px 0 100px;
}

/* Poppins Font */

.poppins-regular,
.poppins-medium,
.poppins-semibold,
.poppins-bold {
  font-family: "Poppins", serif;
}

/* Montserrat Font */

.montserrat-regular,
.montserrat-medium,
.montserrat-semibold,
.montserrat-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

/* Common font styles */

.poppins-medium,
.montserrat-medium {
  font-weight: 500;
}

.poppins-semibold,
.montserrat-semibold {
  font-weight: 600;
}

.poppins-bold,
.montserrat-bold {
  font-weight: 700;
=======
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
>>>>>>> 566bd35 (Initial commit)
}
