:root {
  --main: #fff;
  --extra: #02897A;
  --font: #22343D;
  --logo: #173A56;
  --icon-01: #EFEFEF;
  --icon-02: #F2F6FF;
  --icon-03: #EDFFFC;
  --icon-04: #4D8DFF;
  --icon-05: #740A76;
  --icon-06: #F03E3D;
  --icon-07: #F3CD03;
  --border: #BCD0E5
}

body {
  color: var(--font);
  background-color: var(--main);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

/* Poppins Font */

.poppins-regular,
.poppins-medium,
.poppins-semibold,
.poppins-bold {
  font-family: "Poppins", serif;
}

/* Montserrat Font */

.montserrat-regular,
.montserrat-medium,
.montserrat-semibold,
.montserrat-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

/* Common font styles */

.poppins-medium,
.montserrat-medium {
  font-weight: 500;
}

.poppins-semibold,
.montserrat-semibold {
  font-weight: 600;
}

.poppins-bold,
.montserrat-bold {
  font-weight: 700;
}
