.clients-title {
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 32px;
    line-height: 1.9;
}
.clients-text {
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 1.8;
}
.clients-rate {
    display: flex;
    fill: var(--icon-07);
    gap: 10px;
}
.clients-list {
    display: flex;
}
.clients-list-item {
    display: flex;
    flex-direction: column;
    min-width: 327px;
    padding: 29px 26px;
    border: 1px solid var(--border);
    border-radius: 5px;
    gap: 16px;
}
.clients-descr {
    letter-spacing: 0.2px;
    color: var(--logo);
    line-height: 1.8;
}
.clients-author {
    display: flex;
    gap: 14px;
}
.clients-author-char {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clients-author-name {
    letter-spacing: 0.2px;
    color: var(--extra);
    line-height: 1.5;
}
.clients-author-spec {
    letter-spacing: 0.2px;
    color: var(--logo);
    font-size: 14px;
    line-height: 1.7;
}

@media screen and (max-width: 1439px) {
    .clients-title {
        margin-bottom: 8px;
    }
    .clients-text {
        margin-bottom: 32px;
    }
    .clients-list {
        flex-direction: column;
        gap: 32px;
    }
    .clients-text-decor {
        display: inline;
    }
}

@media screen and (min-width: 1440px) {
    .clients-title {
        margin-bottom: 10px;
    }
    .clients-text {
        margin-bottom: 40px;
    }
    .clients-list {
        flex-direction: row;
        gap: 64px;
    }
    .clients-text-decor {
        display: block;
    }
}