/* Styles for Mobile devices */
.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 411px;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
  }
}
