/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 411px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    padding: 0 146px;
  }
}
