/* Styles for Mobile devices */
.container {
<<<<<<< HEAD
  /* min-width: 320px; */
  max-width: 411px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 146px;
=======
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
>>>>>>> 566bd35 (Initial commit)
  }
}
