.enterprise-title {
  text-align: center;
}
.enterprise-wrapper {
  display: flex;
}
.enterprise-list {
  display: flex;
  flex-direction: column;
}
.enterprise-list-item-header {
  display: flex;
  align-items: center;
  gap: 14px;
}
.enterprise-list-item-title {
  font-size: 24px;
}
.enterprise-list-item-descr {
  line-height: 1.7;
}
.enterprise-list-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--bg-color);
}

@media screen and (max-width: 1439px) {
  .enterprise-title {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 1.4;
  }
  .enterprise-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .enterprise-list {
    gap: 40px;
  }
  .enterprise-list-item-header {
    margin-bottom: 12px;
  }
  .enterprise-list-icon-wrapper {
    padding: 11px;
  }
}

@media screen and (min-width: 1440px) {
  .enterprise-title {
    margin-bottom: 56px;
    font-size: 34px;
  }
  .enterprise-wrapper {
    justify-content: space-between;
  }
  .enterprise-list {
    justify-content: space-between;
    width: 541px;
    height: 100%;
  }
  .enterprise-list-item {
    width: 506px;
  }
  .enterprise-list-item-header {
    margin-bottom: 16px;
  }
  .enterprise-list-icon-wrapper {
    padding: 13px;
  }
}