.features-container {
  display: flex;
  align-items: center;
  padding-bottom: 63px;
  flex-direction: column;
  background-image: url(../img/features/bg-gradient.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}
.features-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 32px;
}
.features-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.features-list {
  display: flex;
}
.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.features-descr {
  display: flex;
  flex-direction: column;
}
.features-icon {
  fill: var(--main);
}
.features-subtitle {
  font-size: 22px;
}
.features-text {
  line-height: 1.6;
}
.features-btn[type="submit"] {
  width: 175px;
  height: 53px;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--main);
  border: none;
  border-radius: 4px;
  background-color: var(--extra);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-btn[type="submit"]:hover,
.features-btn[type="submit"]:focus {
  background-color: var(--logo);
  outline-color: var(--border);
}
.features-first {
  background-color: var(--extra);
}
.features-second {
  background-color: var(--icon-04);
}
.features-third {
  background-color: var(--icon-05);
}
.features-fourth {
  background-color: var(--icon-06);
}

@media screen and (max-width: 1439px) {
  .features-title {
    width: auto;
  }
  .features-wrapper {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
  }
  .features-list {
    flex-direction: column;
    gap: 37px;
  }
  .features-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .features-descr {
    align-items: center;
    width: 240px;
    text-align: center;
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .features-title {
    width: 529px;
  }
  .features-wrapper {
    width: 54px;
    height: 54px;
    margin-bottom: 26px;
  }
  .features-list {
    justify-content: center;
    gap: 30px;
  }
  .features-descr {
    gap: 13px;
  }
}