.wrap {
    display: flex;
}
.logo-wrapper {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo-text {
    display: inline-block;
    height: 100%;
    color: var(--logo);
    font-size: 30px;
}
.list {
    line-height: 2.2;
}
.soc-list {
    display: flex;
    align-items: center;
    gap: 16px;
}
.soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--icon-03);
}
.soc-icon {
    fill: var(--extra);
}
.text {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.5;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.wrapper>.text {
    color: var(--extra);
    margin-bottom: 0;
}
.label {
    position: relative;
}
.icon {
    position: absolute;
    left: -5px;
    transform: translate(15px, 10px);
    fill: var(--extra);
}
input[type="tel"] {
    position: relative;
    width: 325px;
    height: 48px;
    padding: 10px 42px;
    color: var(--extra);
    border: 1px solid var(--border);
    border-radius: 4px;
}
input[type="tel"]::placeholder {
    color: var(--border);
    line-height: 1.8;
}
input[type="tel"]:focus-visible {
    outline-color: var(--extra);
}
.btn[type="submit"] {
    width: 131px;
    height: 39px;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--main);
    border: none;
    border-radius: 4px;
    background-color: var(--extra);
}
.btn[type="submit"]:hover,
.btn[type="submit"]:focus {
    outline-color: transparent;
    background-color: var(--logo);
}
.copyright {
    text-align: center;
    text-transform: capitalize;
    color: var(--border);
    font-size: 14px;
    line-height: 1.9;
}
.logo, .soc-link, .item-link {
    outline-color: var(--border);
}


@media screen and (max-width: 1439px) {
    .wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 44px;
        gap: 32px;
    }
    .logo-wrapper {
        align-items: center;
        gap: 18px;
    }
    .text {
        text-align: center;
    }
    .list {
        text-align: center;
    }
    .wrapper {
        align-items: center;
        gap: 26px;
    }
}

@media screen and (min-width: 1440px) {
    .wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .logo-wrapper {
        gap: 24px;
    }
    .wrapper {
        gap: 30px;
    }
}