 .container {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   padding: 17px 30px;
 }
 .nav-wrap {
   display: none;
 }
 .logo-text {
   color: var(--logo);
   font-size: 30px;
   line-height: 0.9;
 }
 .logo {
   display: flex;
   align-items: center;
   flex-direction: row;
   gap: 8px;
   outline-color: transparent;
 }
 .list-item a:focus {
  outline-style: dotted;
  outline-color: var(--border);
 }
 .btn.first,
 .btn.third {
  outline-color: var(--extra);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .btn.first:hover,
 .btn.first:focus {
  color: var(--extra);
 }
 .btn.second {
  outline-color: var(--border);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .btn.second:hover,
 .btn.second:focus {
  background-color: var(--logo);
 }
 .btn.fourth {
   border: none;
   background-color: transparent;
   padding: 0;
   outline-color: var(--border);
 }
 .theme-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .theme-icon:hover,
 .theme-icon:focus {
  fill: var(--logo);
 }
 .icon-menu {
   display: block;
   stroke: var(--logo);
 }

 @media screen and (max-width: 411px) {
   .container {
     padding: 17px 30px;
     box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
   }
   .logo {
     gap: 8px;
   }
   .nav-list,
   .btn:not(.fourth) {
     display: none;
   }
   .fourth[aria-expanded='true'] {
     display: block;
   }
 }

 @media screen and (min-width: 1440px) {
   .container {
     padding: 19px 146px;
     box-shadow: none;
   }
   .logo {
     gap: 16px;
   }
   .nav-wrap {
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-between;
     gap: 24px;
   }
   .nav-list {
     display: flex;
     flex-direction: row;
     line-height: 1.75;
     gap: 30px;
   }
   .btn[type=submit] {
     width: 110px;
     height: 42px;
     border: none;
     border-radius: 4px;
   }
   .btn[type=button] {
     display: flex;
     align-items: center;
     padding: 0;
     border: none;
     background-color: var(--icon-01);
   }
   .first {
     color: var(--logo);
     border: 1px solid var(--border);
   }
   .second {
     color: var(--main);
     border-color: transparent;
     background-color: var(--extra);
   }
   .btn.third {
     padding: 6px;
     border-radius: 50%;
   }
   .btn.fourth {
     display: none;
   }
   .theme-icon {
     fill: var(--extra);
   }
 }