.pricing-title,
.pricing-second-title {
  text-align: center;
  font-size: 34px;
  line-height: 1.7;
}
.pricing-wrap-title {
  margin-top: 50px;
  text-align: center;
  background-image: url('../img/pricing/bg-rectangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.pricing-text {
  margin-bottom: 40px;
  text-align: center;
}
.pricing-second-text {
  margin-bottom: 40px;
  text-align: center;
}
.pricing-wrap {
  display: flex;
}
.pricing-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 322px;
  height: 456px;
  padding: 32px 68px;
  border-radius: 8px;
  background: var(--main);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  gap: 16px;
}
.pricing-card:nth-child(2) {
  color: var(--main);
  background-color: var(--extra);
}
.pricing-card-title {
  text-align: center;
}
.pricing-subtitle {
  font-size: 24px;
  line-height: 1.7;
}
.pricing-descr {
  line-height: 2.5;
}
.pricing-card-price {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.pricing-num {
  letter-spacing: 0.2px;
  font-size: 72px;
  line-height: 1.3;
}
.pricing-price-wrap {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.pricing-symbol {
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 1.2;
}
.pricing-price-descr {
  letter-spacing: 0.1px;
  color: var(--border);
  line-height: 1.2;
}
.pricing-card-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.2px;
  line-height: 1.4;
  gap: 16px;
}
.pricing-btn[type="button"],
.pricing-second-btn {
  width: 139px;
  height: 44px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main);
  border: none;
  border-radius: 8px;
  background-color: var(--extra);
  font-size: 18px;
}
.pricing-btn[type="button"]:hover,
.pricing-btn[type="button"]:focus,
.pricing-second-btn:hover,
.pricing-second-btn:focus {
  outline-color: transparent;
  background-color: var(--logo);
}
.pricing-btn-middle[type="button"] {
  color: var(--extra);
  background-color: var(--main);
}
.pricing-btn-middle[type="button"]:hover,
.pricing-btn-middle[type="button"]:focus {
  color: var(--logo);
  outline-color: var(--border);
  background-color: var(--main);
}
a:focus {
  outline: none;
}

@media screen and (max-width: 1439px) {
  .pricing-title,
  .pricing-second-title {
    margin-bottom: 8px;
  }
  .pricing-second-title {
    padding-top: 30px;
    font-size: 30px;
  }
  .pricing-wrap {
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .pricing-title,
  .pricing-second-title {
    margin-bottom: 10px;
  }
  .pricing-second-title {
    padding-top: 50px;
  }
  .pricing-wrap {
    flex-direction: row;
    justify-content: center;
    gap: 72px;
  }
}