.promo-container {
  min-width: 411px;
}
.preview-wrap  {
  padding-bottom: 100px;
  background-image: url(../img/promo/bg-gradient.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: contain;
}
.preview-title {
  margin-bottom: 95px;
  text-align: center;
  font-size: 32px;
}
.preview-image-wrapper {
  padding: 45px;
  border-radius: 50%;
}
.bg-icon-first {
  background-color: var(--icon-08);
}
.bg-icon-second {
  background-color: var(--icon-02);
}
.preview-list {
  display: flex;
  justify-content: center;
}
.preview-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.preview-item-title {
  font-size: 24px;
  line-height: 1.7;
}
.preview-item-sublist {
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}
.preview-sublist-link {
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.preview-sublist-link:hover,
.preview-sublist-link:focus {
  color: var(--border);
  outline-color: var(--border);
}
.preview-item-text {
  line-height: 1.75;
}
.preview-item-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.promo-wrap {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 32px;
  background-color: var(--extra);
}
.promo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.promo-title {
  color: var(--main);
  line-height: 1.5;
}
.promo-btn[type="button"] {
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  color: var(--extra);
  border: none;
  border-radius: 8px;
  background-color: var(--main);
  font-size: 20px;
}
.promo-btn[type="button"]:hover,
.promo-btn[type="button"]:focus {
  color: var(--logo);
  outline-color: var(--border);
}

@media screen and (max-width: 1439px) {
  .preview-wrap {
    padding-top: 30px;
  }
  .preview-title-cut {
    display: inline-block;
  }
  .preview-list {
    flex-direction: column;
    gap: 66px;
  }
  .promo-wrap {
    align-items: center;
    flex-direction: column;
    width: 347px;
    height: 668px;
    padding-top: 65px;
    gap: 100px;
  }
  .promo-wrapper {
    align-items: center;
    width: 300px;
  }
  .promo-title {
    text-align: center;
    font-size: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .preview-wrap {
    padding-top: 35px;
  }
  .preview-title-cut {
    display: block;
  }
  .preview-list {
    flex-direction: row;
    gap: 227px;
  }
  .promo-wrap {
    justify-content: center;
    width: 968px;
    height: 345px;
  }
  .promo-wrapper {
    justify-content: center;
    width: 510px;
  }
  .promo-image {
    display: flex;
    align-items: center;
  }
  .promo-title {
    font-size: 32px;
  }
}