.promo-wrap {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 32px;
    background-color: var(--extra);
}
.promo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.promo-title {
    color: var(--main);
    font-size: 32px;
    line-height: 1.promo-5;
}
.promo-btn[type="button"] {
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--extra);
    border: none;
    border-radius: 8px;
    background-color: var(--main);
    font-size: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo-btn[type="button"]:hover,
.promo-btn[type="button"]:focus {
    color: var(--logo);
    outline-color: var(--border);
}

@media screen and (max-width: 1439px) {
    .promo-wrap {
        align-items: center;
        flex-direction: column;
        width: 371px;
        height: 668px;
        padding-top: 17px;
    }
    .promo-wrapper {
        align-items: center;
        width: 328px;
    }
    .promo-title {
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .promo-wrap {
        justify-content: center;
        width: 968px;
        height: 345px;
    }
    .promo-wrapper {
        justify-content: center;
        width: 510px;
    }
}