.list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.list-item {
  display: flex;
  align-items: center;
}
.wrap {
  display: flex;
  flex-direction: column;
}
.overtitle {
  display: inline-block;
  margin-bottom: 8px;
}
.title {
  font-size: 32px;
}
.text {
  line-height: 1.6;
}
.subtitle {
  margin-bottom: 12px;
}
.sublist {
  display: flex;
  flex-direction: column;
}
.sublist-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 1439px) {
  .list-item {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .list-item:nth-child(2) {
    flex-direction: column-reverse;
  }
  .wrapp {
    gap: 24px;
  }
  .title,
  .wrapper.wrapper:not(:last-of-type) {
    margin-bottom: 16px;
  }
  .sublist {
    gap: 16px;
  }
  p.extra {
    margin-bottom: 16px;
  }
  .sublist-text {
    width: 287px;
  }
}

@media screen and (min-width: 1440px) {
  .list-item {
    justify-content: space-between;
    gap: 84px;
  }
  .list-item:nth-child(2) {
    flex-direction: row-reverse;
  }
  .wrapp {
    gap: 30px;
  }
  .title {
    margin-bottom: 25px;
  }
  .wrapper:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .sublist {
    gap: 25px;
  }
  p.extra {
    margin-bottom: 30px;
  }
  .sublist-text {
    width: 459px;
  }
}