.stuff-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.stuff-list-item {
  display: flex;
  align-items: center;
}
.stuff-wrap {
  display: flex;
  flex-direction: column;
}
.stuff-overtitle {
  display: inline-block;
  margin-bottom: 8px;
}
.stuff-title {
  font-size: 32px;
}
.stuff-text {
  line-height: 1.6;
}
.stuff-subtitle {
  margin-bottom: 12px;
}
.stuff-sublist {
  display: flex;
  flex-direction: column;
}
.stuff-sublist-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 1439px) {
  .stuff-list-item {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .stuff-list-item:nth-child(2) {
    flex-direction: column-reverse;
  }
  .stuff-wrapp {
    gap: 24px;
  }
  .stuff-title,
  .stuff-wrapper:not(:last-of-type),
  .extra {
    margin-bottom: 16px;
  }
  .stuff-sublist {
    gap: 16px;
  }
  .stuff-sublist-text {
    width: 287px;
  }
}

@media screen and (min-width: 1440px) {
  .stuff-list-item {
    justify-content: space-between;
    gap: 84px;
  }
  .stuff-list-item:nth-child(2) {
    flex-direction: row-reverse;
  }
  .stuff-wrapp {
    gap: 30px;
  }
  .stuff-title {
    margin-bottom: 25px;
  }
  .stuff-wrapper:not(:last-of-type),
  .extra {
    margin-bottom: 30px;
  }
  .stuff-sublist {
    gap: 25px;
  }
  .stuff-sublist-text {
    width: 459px;
  }
}