<section class="feedback">
  <div class="feedback-container container">
    <div class="feedback-wrap">
      <h2 class="feedback-title poppins-bold">Quick & Easy Process</h2>
      <p class="feedback-text poppins-medium">
        Do you require some help for your project: Conception workshop,
        prototyping, marketing strategy, landing page, Ux/UI?
      </p>
    </div>
    <list class="feedback-list">
      <li class="feedback-list-item feedback-first">
        <picture class="feedback-userpic">
          <source srcset="
              ../img/feedback/img@1x/avatar-1@1x.png 1x,
              ../img/feedback/img@2x/avatar-1@2x.png 2x
            " media="(min-width: 1440px)" type="image/png" />
          <source srcset="
              ../img/feedback/img@1x/avatar-1@1x.png 1x,
              ../img/feedback/img@2x/avatar-1@2x.png 2x
            " media="(max-width: 411px)" type="image/png" />
          <img src="../img/feedback/img@1x/avatar-1@1x.png" class="feedback-image" alt="avatar-1" />
        </picture>
        <div class="feedback-wrapper">
          <svg class="feedback-icon">
            <use href="../img/icons/icons.svg#icon-cloud"></use>
          </svg>
          <span class="feedback-icon-text poppins-medium">I can prototype your app</span>
        </div>
      </li>
      <li class="feedback-list-item feedback-second">
        <div class="feedback-wrapper">
          <svg class="feedback-icon">
            <use href="../img/icons/icons.svg#icon-cloud-revert"></use>
          </svg>
          <span class="feedback-icon-text poppins-medium">I can prototype your app</span>
        </div>
        <picture class="feedback-userpic">
          <source srcset="
              ../img/feedback/img@1x/avatar-2@1x.png 1x,
              ../img/feedback/img@2x/avatar-2@2x.png 2x
            " media="(min-width: 1440px)" type="image/png" />
          <source srcset="
              ../img/feedback/img@1x/avatar-2@1x.png 1x,
              ../img/feedback/img@2x/avatar-2@2x.png 2x
            " media="(max-width: 411px)" type="image/png" />
          <img src="../img/feedback/img@1x/avatar-2@1x.png" class="feedback-image" alt="avatar-2" />
        </picture>
      </li>
      <li class="feedback-list-item feedback-third">
        <div class="feedback-wrapper">
          <svg class="feedback-icon">
            <use href="../img/icons/icons.svg#icon-cloud-revert"></use>
          </svg>
          <span class="feedback-icon-text poppins-medium">I can prototype your app</span>
        </div>
        <picture class="feedback-userpic">
          <source srcset="
              ../img/feedback/img@1x/avatar-3@1x.png 1x,
              ../img/feedback/img@2x/avatar-3@2x.png 2x
            " media="(min-width: 1440px)" type="image/png" />
          <source srcset="
              ../img/feedback/img@1x/avatar-3@1x.png 1x,
              ../img/feedback/img@2x/avatar-3@2x.png 2x
            " media="(max-width: 411px)" type="image/png" />
          <img src="../img/feedback/img@1x/avatar-3@1x.png" class="feedback-image" alt="avatar-3" />
        </picture>
      </li>
      <li class="feedback-list-item feedback-fourth">
        <picture class="feedback-userpic">
          <source srcset="
              ../img/feedback/img@1x/avatar-4@1x.png 1x,
              ../img/feedback/img@2x/avatar-4@2x.png 2x
            " media="(min-width: 1440px)" type="image/png" />
          <source srcset="
              ../img/feedback/img@1x/avatar-4@1x.png 1x,
              ../img/feedback/img@2x/avatar-4@2x.png 2x
            " media="(max-width: 411px)" type="image/png" />
          <img src="../img/feedback/img@1x/avatar-4@1x.png" class="feedback-image" alt="avatar-4" />
        </picture>
        <div class="feedback-wrapper">
          <svg class="feedback-icon">
            <use href="../img/icons/icons.svg#icon-cloud"></use>
          </svg>
          <span class="feedback-icon-text poppins-medium">I can prototype your app</span>
        </div>
      </li>
    </list>
    <button type="button" class="feedback-btn poppins-bold">
      <a href="/">Contact our expert</a>
    </button>
  </div>
</section>
