<div class="hero">
  <div class="hero-container container">
    <div class="hero-wrap">
      <div class="hero-wrapper">
        <h1 class="hero-title poppins-bold">Work at the speed <br /> of thought</h1>
        <p class="hero-text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way
          to
          imagine your next user experience.</p>
      </div>
      <div class="hero-btn-wrapper">
        <button type="submit" class="hero-btn poppins-bold" data-modal-toggle="signup">Get started
        </button>
        <button type="button" class="hero-btn poppins-semibold">
          <svg class="hero-icon" width="20" height="18">
            <use href="./img/icons/icons.svg#icon-triangle"></use>
          </svg>
          <span class="hero-btn-text">Watch the Video</span>
        </button>
      </div>
    </div>
    <img src="./img/hero/hero-img.svg" width="610" height="555" alt="people working on a project" />
  </div>
</div>
