<div class="promo">
  <div class="promo-container container">
    <div class="promo-wrap">
      <div class="promo-wrapper">
        <h2 class="promo-title poppins-semibold">
          Join 100 Compannies who boost their business with Product
        </h2>
        <button type="button" class="promo-btn poppins-semibold">Get this</button>
      </div>
      <div class="promo-image">
        <img src="../img/promo/screen.svg" width="351" height="331" alt="graphs" />
      </div>
    </div>
  </div>
</div>