<section class="enterprise">
  <div class="enterprise-container container">
    <h2 class="enterprise-title poppins-bold">Product is being used with great effects alongside</h2>
    <div class="enterprise-wrapper">
      <div class="enterprise-img-wrapper"><img src="../../img/enterprise/enterprise.svg" width="528px" alt="gadgets"
          class="enterprise-img"></div>
      <div class="enterprise-descr-wrap">
        <ul class="enterprise-list">
          <li class="enterprise-list-item">
            <div class="list-item-wrapper">
              <div class="list-item-header">
                <div class="list-icon-wrapper">
                  <svg class="list-item-icon" width="24" height="24">
                    <use href="../../img/icons/icons.svg#icon-enterpreneur"></use>
                  </svg>
                </div>
                <h3 class="list-item-title poppins-semibold">Enterpreneur</h3>
              </div>
              <div class="list-item-descr">
                <p class="list-item-descr poppins-regular">Product is a great way to help medium and samall enterprise
                  owners achieve their goals</p>
              </div>
            </div>
          </li>
          <li class="enterprise-list-item">
            <div class="list-item-wrapper">
              <div class="list-item-header">
                <div class="list-icon-wrapper">
                  <svg class="list-item-icon" width="24" height="24">
                    <use href="../../img/icons/icons.svg#icon-universities"></use>
                  </svg>
                </div>
                <h3 class="list-item-title poppins-semibold">Accountants</h3>
              </div>
              <div class="list-item-descr">
                <p class="list-item-descr poppins-semibolpoppins-regular">Whether you are working on contract with
                  clients, or on other key accounting documents, Product is for you</p>
              </div>
            </div>
          </li>
          <li class="enterprise-list-item">
            <div class="list-item-wrapper">
              <div class="list-item-header">
                <div class="list-icon-wrapper">
                  <svg class="list-item-icon" width="24" height="24">
                    <use href="../../img/icons/icons.svg#icon-accounts"></use>
                  </svg>
                </div>
                <h3 class="list-item-title poppins-semibold">Universities</h3>
              </div>
              <div class="list-item-descr">
                <p class="list-item-descr poppins-semibolpoppins-regular">Organize university projects and have
                  documents easily graded online with Product</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>