<section class="faq">
  <div class="faq-wrapper container">
    <div class="faq-title">
      <h2 class="faq-header poppins-bold">Frequently asked question</h2>
      <p class="faq-descr poppins-regular">Something is not clear? You need help? Check our FAQ section</p>
    </div>
    <ul class="faq-list poppins-regular">
      <li class="faq-list-item">
        <input type="checkbox" id="checkbox-1" class="list-item-style">
        <label class="list-item-checkbox" for="checkbox-1">
          <p class="list-item-text poppins-medium">What are my payment option?</p>
        </label>
        <p class="list-item-descr">After creating your account you will have an oppurtunity to create your first project
          that will be associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
          user will have to confirm his account by e-mail and finish userd onboarding.
        </p>
      </li>
      <li class="faq-list-item">
        <input type="checkbox" id="checkbox-2" class="list-item-style">
        <label class="list-item-checkbox" for="checkbox-2">
          <p class="list-item-text poppins-medium">How can I invite collaborator to platform?</p>
        </label>
        <p class="list-item-descr">After creating your account you will have an oppurtunity to create your first project
          that will be associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
          user will have to confirm his account by e-mail and finish userd onboarding.</p>
      </li>
      <li class="faq-list-item">
        <input type="checkbox" id="checkbox-3" class="list-item-style">
        <label class="list-item-checkbox" for="checkbox-3">
          <p class="list-item-text poppins-medium">Can I upgrade my plan?</p>
        </label>
        <p class="list-item-descr">After creating your account you will have an oppurtunity to create your first project
          that will be associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
          user will have to confirm his account by e-mail and finish userd onboarding.</p>
      </li>
      <li class="faq-list-item">
        <input type="checkbox" id="checkbox-4" class="list-item-style">
        <label class="list-item-checkbox" for="checkbox-4">
          <p class="list-item-text poppins-medium">Can I cancel my plan at anytime?</p>
        </label>
        <p class="list-item-descr">After creating your account you will have an oppurtunity to create your first project
          that will be associated withthe collaborators e-mail. An invitation will be sent automatically. Then, invited
          user will have to confirm his account by e-mail and finish userd onboarding.</p>
      </li>
      <ul>
  </div>
</section>